<section id="lodges">
  <h2> Pousadas Disponíveis</h2> 
  <div> 
    <%= link_to('Cadastrar Pousada', new_lodge_path) %>
  </div>
  <% @lodges.each do |l| %>
    <div>
      <h3><%= link_to(l.name, lodge_path(l.id)) %>, <%= l.city %></h3>
    </div>
  <% end %>

  <% if @lodges.empty? %>
    <p>Não existem pousadas cadastradas.</p>
  <% end %>
</section>
