<h1>Resultados da busca</h1>
<% if @lodges.present? %>
  <p>Foram encontrados <%= @lodges.count %> resultados para "<%= params[:q] %>"':</p>
  <ul>
    <% @lodges.each do |lodge| %>
      <li><%= link_to "#{lodge.name}, #{lodge.neighborhood}, #{lodge.city}", lodge_path(lodge) %></li>
    <% end %>
  </ul>
<% else %>
  <p>Nenhum resultado encontrado para "<%= params[:q] %>."</p>
<% end %>