<h1>Nova Pousada</h1>

<% if @lodge.errors.any? %>
  <p>Verifique o(s) erro(s) abaixo:</p>
    <ul> 
      <% @lodge.errors.full_messages.each do |msg| %>
      <li><%= msg %> </li>
      <% end %>
    </ul>
<% end %>

<%= render 'form' %>