/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
  font-family: "Trirong", serif;
  background-color: #f6f1d0;
  color: black;
  margin: 0;
  padding: 0;
}

header {
  font-family: "Sofia", sans-serif;
  font-size: 20px;
  background-color: #eecdbb;
  color:#837dbe;
  padding: 10px;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: #f0dfd6;
  padding: 10px;
}

.button {
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}