<div>
  <dl>
    <dt>Usuário: </dt> 
    <dd><%= review.booking.user.name %></dd>
    <dt>Nota (0-5): </dt>
    <dd><%= review.rating %></dd>
    <dt>Comentário: </dt>
    <dd><%= review.comment %></dd>
  </dl>
</div>